* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
}

.container {
  max-width: $page-width;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}