$page-width: 1920px;

$gray: #727272;
$light-gray: #EBF0FA;
$light-blue:#F0F4FC;
$blue: #D7E2F6;
$medium-blue: #244C98;
$dark-blue: #1F4284;
$white: #FFFFFF;
$black: #323232;

$breakpoint-desctop: 1920px;
$breakpoint-laptop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;
